
profiles {
    standard {
        params {
            namespace = 'nextflowtest'
            pullPolicy = 'IfNotPresent'
            storageClaimName = 'pvc-nextflow'
            storageMountPath = '/workspace/'
            projectDir = '/workspace/projects'
            launchDir = '/workspace/ubuntu'
            workDir = '/workspace/work'
        }

        process {

            container = 'ubuntu:latest'
        }

        k8s {
            debug.yaml = true
            namespace = "${params.namespace}"
            pullPolicy = "${params.pullPolicy}"
            storageClaimName = "${params.storageClaimName}"
            storageMountPath = "${params.storageMountPath}"
            projectDir = "${params.projectDir}"
            launchDir = "${params.launchDir}"
            workDir = "${params.workDir}"
        }
    }
}
