
profiles {
    standard {
        params {
            namespace = 'nextflowtest'
            pullPolicy = 'IfNotPresent'
            autoMountHostPaths = true
            storageClaimName = 'pvc-nextflow'
            storageMountPath = '/workspace'
            launchDir = "${storageMountPath}/ubuntu"
            projectDir = '/workspace/projects'
            workDir = '/workspace/work'
        }

        process {
            container = 'ubuntu:latest'
        }

        k8s {
            namespace = "${params.namespace}"
            pullPolicy = "${params.pullPolicy}"
            storageClaimName = "${params.storageClaimName}"
            storageMountPath = "${params.storageMountPath}"
            autoMountHostPaths = "${params.autoMountHostPaths}"
            projectDir = "${params.projectDir}"
            launchDir = "${params.launchDir}"
            workDir = "${params.workDir}"
        }
    }
}
